---
layout: default
featured-image:
  large-image: header-large.jpg
  medium-image: header-medium.jpg
  small-image: header-small.jpg
  alt-text: Chadev Lunch Talk Panorama
---

{% assign sorted_devs = site.devs | sort:"name" %}
{% for page in sorted_devs %}
  <section class="dev-profile">
    <a class="avatar" href="http://github.com/{{ page.github }}">
      <img src="{% include gravatar/image.html size=300 id=page.gravatar-id %}" class="profile-gravatar">
      <h2>{{ page.name }}</h2>
    </a>

    {% if page.urls %}

      <div class="profile-url">

        {% for url in page.urls %}

          {% if url.name == "website" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/link-icon.svg" alt=""></a>

          {% elsif url.name == "behance" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/behance-icon.svg" alt=""></a>

          {% elsif url.name == "twitter" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/twitter-icon.svg" alt=""></a>

          {% elsif url.name == "google+" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/google-plus-icon.svg" alt=""></a>

          {% elsif url.name == "facebook" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/facebook-icon.svg" alt=""></a>

          {% elsif url.name %}
            <a href="{{ url.url }}">{{ url.name }}</a>
          {% endif %}

        {% endfor %}

      </div>

    {% endif %}

  </section>

{% endfor %}

<section class="callout">
  <h2>Join the group!</h2>
  <p>We invite anyone who identifies as a developer or is interested in becoming a developer in Chattanooga to join our community.
  <a href="https://github.com/chadev/chadev.github.io">Submit a Pull Request</a> on GitHub to add yourself.
  See our <a href="https://github.com/chadev/chadev.github.io/wiki/Adding-yourself-to-the-Devs-list">wiki page</a> for basic instructions.
  We can help if you get stuck or need a hint. Find us on
  <a href="https://kiwiirc.com/client/irc.freenode.net/?nick=chadev-?#chadev">IRC Freenode #chadev</a> or <a href="mailto:chadevhelp@gmail.com">shoot us an email</a>.</p>
</section>

<h1>A community for developers by developers</h1>

<p>Chadev started as the brainchild of Kyle Gordy and Justin Spain as a way to
keep up with the ever increasing number of events serving the developer
community in Chattanooga. Originating as a simple subreddit, then growing to
include a curated events calendar, it soon became clear that this was a much
needed resource in the Chattanooga tech community.</p>

<p>Currently, Chadev tracks nearly thirty events per month that pertain to
the developer/tech community. We are in the process of increasing the reach
of our brand, while simultaneously supporting the growth of smaller sub
communities for the various specific languages and interest groups. Our
hope is to continue to support and promote the developer community, while
maintaining an open and inclusive entry point for new people to the community.</p>
