.devs {
  display: flex;
  flex-wrap: wrap;
}

.dev-profile {
  width: 200px;
  height: 200px;

  .avatar {
    position: relative;
  }

  .avatar img {
    width: 100%;
    -webkit-transition: -webkit-filter .4s;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .avatar:hover img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .avatar:hover h2 {
    height: 40px;
  }

  .avatar h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.2;
    color: #E7E7E7;
    padding: .4em 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #2F2F2F;
    @include transition (all .1s ease-in-out);
    display: none;
  }

  a {
    border: none;

    &:hover {
      border: none;
    }

  }

  .profile-url {

    a {
      display: block;
      width: 50%;
      float: left;
      padding: .5em;
      text-align: center;
      border-bottom: 2px solid $light-grey;
      border-left: 2px solid $light-grey;


      &:last-of-type {
        border-right: 2px solid $light-grey;
      }

      &:hover img {
        opacity: .85;
      }

    }

    img {
      height: 1.25em;
      @include transition (opacity .2s ease-in-out);
      opacity: .55;
    }

  }

}

.callout {
  @include span-columns(12);
  @include omega();
  padding: 1.25em 1.5em;
  border: 2px solid $light-grey;

  @include media($small) {
    @include span-columns(8);
    @include omega();
  }

  @include media($medium) {
    @include span-columns(6);
    @include omega();
  }

  h2 {
    line-height: 1;
  }

  p {
    margin: .75em 0 0 0;
  }

}
