.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $side-bar-width;
  background: #f7f7f7;

  .logo {
    // border-bottom: 3px solid #838383;
    padding: 26px 0px 3px 0px;
  }

  .by-line {
    font-size: 14px;
    font-style: bold;
    padding-top: 100px;
    display: block;
    // border-bottom: 3px solid black;
  }

  .container {
    padding: 41px 18px;

    .nav-collapse {
      padding-top: 46px;
      padding-left: 26px;
      font-size: 20px;
      font-weight: bold;
      list-style: none;
      text-align: left;

      li {
        width: 100%;
        padding: 8px 0;
      }

      a {
      }
    }
  }
}

.main-content {
  padding-left: $side-bar-width;

  section {
    padding: 40px 20px;
  }
}

